*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

caption{
  background-color:#C0C0C0;
}

table{
  border:1px solid #C0C0C0;
}

td{
  border:1px solid #C0C0C0;
  text-align: center;
}

.sun{
  color:red;
}

.sat{
  color:blue;
}